
@{
    ViewData["Title"] = "Detalle Servicio";
}
<p>@ViewBag.Codigo</p>

<div class="container">
		<h2>Detalles del Servicio</h2>
		<div class="card">
			<div class="card-header text-white bg-secondary">Datos Servicio</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item" ></li>
                    
					<h3>@ViewBag.num</h3>
				</ul>
				<a  class="btn btn-success">Regresar</a>
			</div>
		</div>
		
		
		
	</div>